/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-weight: normal;
	font-family: adobe-garamond-pro, serif;
font-weight: 400;
font-style: normal;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	padding-bottom: 0.5em;
	text-align: left; 
	font-size: 1em; 
	font-weight: normal;
	font-family: adobe-garamond-pro, serif;
font-weight: 400;
font-style: normal;
}

h1 {
	font-size: 2em;
font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 500;
font-style: normal;
padding-top: 1em;
}

h2 {
	font-size:1.2em; 
font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 500;
font-style: italic;
}

h3 {
	font-size: ______; 
font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 500;
font-style: normal;
}
